.container {
    background-color: black;
    width: 24.7%;
    margin: 35px auto;
}

.App {
    padding: 20px 0 0 10px;
    background-color: #ba112e;
    border-radius: 10%;
}

.operators {
    display: flex;
    align-content: flex-end;
}

.button {
 padding: 30px;
 border-radius: 50%;
}

.input {
    color: white;
    padding: 30px;
    background-color: black;
    border-radius: 40%;
}

.number-buttons{
   width: 80%;
}

.special-buttons{
    background-color: aqua;
    display: flex;
    
}

.special-buttons button {
    height: 20%;
}

.operator-buttons {
    background-color: aqua;
    display: flex;
    justify-items: flex-end;
    flex-direction: column;
    width: 20%;
}

.operator-buttons button {
    width: 20%;
}